.grid-fluid.l-space-bottom-8
  for versions, framework in downloads
    div.c9.card
      frameworkName = framework.replace(/\_/gm, ' ')
      header
        h2.text-headline #{frameworkName}


      for version, name in versions
        if name == "description"
          p #{version}

        else
          .card-content
            h3.text-body Version #{name}

            ul
              if version.file
                li <a href="#{version.file}"> Download for #{name}</a>

              if version.npm
                li <a href="#{version.npm}"> NPM installion for #{name}</a>

