nav.side-nav.l-pinned-left.l-layer-4.l-offset-nav

  // SEARCH BAR
  header.side-nav-search.st-input-wrapper
    form.st-input-inner
      label(for="search-io" class="is-hidden") Search Docs
      input(type="search" id="search-io" placeholder="SEARCH DOCS...")
    button(class="mobile-trigger button" aria-label="View Docs Menu" ng-click="appCtrl.toggleDocsMenu($event)" md-button) Docs <span class="icon icon-arrow-drop-down"></span>


  // PRIMARY NAVIGATION
  ul(class="side-nav-primary" ng-class="appCtrl.showDocsNav ? 'is-visible' : ''")
    if current.path[2]
      for page, slug in public.docs[current.path[1]][current.path[2]]._data

        - var name = page.menuTitle || page.title
        - var selected =  current.path[3] == slug ? 'is-selected':''
        - var pathSuffix = public.docs[current.path[1]][current.path[2]][slug] ? "/" : ".html"

        li(class="#{selected}") <a href="/docs/#{current.path[1]}/#{current.path[2]}/#{slug}#{pathSuffix}" md-button><span class="side-nav-icon icon-#{page.icon}"></span> #{name}</a>


        // SECONDARY NAVIGATION
        if selected
          != partial("_secondary")