
// TERTIARY NAVIGATION
- var tertiaryPath = public.docs[current.path[1]][current.path[2]][current.path[3]][current.path[4]]

if tertiaryPath
  - var data = tertiaryPath._data

  ul.side-nav-tertiary
    for page, slug in data
      - var name = page.title
      - var selected =  current.path[5] == slug ? 'is-selected':''

      if slug != "index"
        li(class="#{selected}")<a  href="/docs/#{current.path[1]}/#{current.path[2]}/#{current.path[3]}/#{current.path[4]}/#{slug}.html" md-button>#{name}</a>

