
// TERTIARY NAVIGATION
tertiaryPath = public.docs[current.path[1]][current.path[2]][current.path[3]][current.path[4]]

if tertiaryPath
  data = tertiaryPath._data

  ul.side-nav-tertiary
    for page, slug in data
      name = page.title
      selected =  current.path[5] == slug ? 'is-selected':''

      if slug != "index"
        li(class="#{selected}")<a  href="/docs/#{current.path[1]}/#{current.path[2]}/#{current.path[3]}/#{current.path[4]}/#{slug}.html" md-button>#{name}</a>

