div.card-row(layout='row')
  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-query-builder"></span> Quickstart
        p.text-body Get Started

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button" md-button) View Quickstart


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-list"></span> Guide
        p.text-body Step by Step Guide

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/" class="button button-primary" md-button) View Guide


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-book"></span> API
        p.text-body API 2.0 Preview

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/api/" class="button" md-button) View API

