.clearfix
  a.card.c4(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html")
    h2.text-headline.text-uppercase Quickstart
    p A short beginner guide explaining the basic concepts of Angular

    footer View Quickstart

  a.card.c4(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/")
    h2.text-headline.text-uppercase Developer Guide
    p An intermediate development guide covering all major features of Angular

    footer View Guide

  a.card.c4(href="/docs/#{current.path[1]}/#{current.path[2]}/api/")
    h2.text-headline.text-uppercase API Reference
    p An advanced reference of all Angular Classes, Methods, etc.

    footer View API


div.c12.l-space-top-3
  .alert.is-helpful.
    Not using Angular 2 yet? Perhaps you need the
    <a href="https://www.dartdocs.org/documentation/angular/latest" target="_blank">API docs for the original AngularDart</a>.

