div.card-row(layout='row' layout-align="space-around center"

class="docs-landing")
  div(class="card-row-container")
    md-card(class="card")
      md-card-content(flex layout="column" layout-align="space-between center")
        div
          h2(class="text-headline text-uppercase") 5 Minute Quickstart
          p A short beginner guide explaining the basic concepts of Angular

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button md-button") View Quickstart


  div(class="card-row-container")
    md-card(class="card")
      md-card-content(flex layout="column" layout-align="space-between center")
        div
          h2(class="text-headline text-uppercase") Developer Guide
          p An intermediate development guide covering all major features of Angular

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/" class="button button-primary md-button") View Guide


  div(class="card-row-container")
    md-card(class="card")
      md-card-content(flex layout="column" layout-align="space-between center")
        div
          h2(class="text-headline text-uppercase") API Reference
          p An advanced reference of all Angular Classes, Methods, etc.

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/api/" class="button md-button") View API

.alert.is-helpful.
  Not using Angular 2 yet? Perhaps you need the
  <a href="https://www.dartdocs.org/documentation/angular/latest" target="_blank">API docs for the original AngularDart</a>.
