
div.c4
  md-card
    md-card-content
      h3.text-headline.text-uppercase <span class="icon-query-builder"></span> Quickstart
      p.text-body Learn in 5 minutes

      footer
        a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button" md-button) View Quickstart


div.c4
  md-card
    md-card-content
      h3.text-headline.text-uppercase <span class="icon-play-circle-outline"></span> Resources
      p.text-body Preview of v2.0

      footer
        a(href="/docs/#{current.path[1]}/#{current.path[2]}/resources.html" class="button button-primary" md-button) View Resources


div.c4
  md-card
    md-card-content
      h3.text-headline.text-uppercase <span class="icon-book"></span> API Preview
      p.text-body Proposal for v2.0 API

      footer
        a(href="/docs/#{current.path[1]}/#{current.path[2]}/api.html" class="button" md-button) View API

