
<!-- ng-nl -->
.grid-fluid
    .c2.text-left
        h4 Feb. 18, 2016
    .c4.text-left
        h4 Amsterdam, Netherlands
    .c4.text-left
        h4
          a(
          target="_blank"
          href="http://www.ng-nl.org"
          ) ng-nl
.grid-fluid
    .c10.text-center
        hr

<!-- O'Reilly Fluent -->
.grid-fluid
    .c2.text-left
        h4 Mar. 8-10, 2016
    .c4.text-left
        h4 San Francisco, CA, USA
    .c4.text-left
        h4
            a(
            target="_blank"
            href="http://conferences.oreilly.com/fluent/javascript-html-us"
            ) O'Reilly Fluent
.grid-fluid
    .c10.text-center
        hr

<!-- AngularJS Days -->
.grid-fluid
    .c2.text-left
        h4 Mar. 21-23, 2016
    .c4.text-left
        h4 Munich, Germany
    .c4.text-left
        h4
            a(
            target="_blank"
            href="http://angularjs-days.de/"
            ) AngularJS Days
.grid-fluid
    .c10.text-center
        hr

<!-- ng-conf -->
.grid-fluid
    .c2.text-left
        h4 May 4-6, 2016
    .c4.text-left
        h4 Salt Lake City, UT, USA
    .c4.text-left
        h4
            a(
            target="_blank"
            href="http://www.ng-conf.org/"
            ) ng-conf
.grid-fluid
    .c10.text-center
        hr

<!-- Devoxx -->
.grid-fluid
    .c2.text-left
        h4 June 22-25, 2016
    .c4.text-left
        h4 Krakow, Poland
    .c4.text-left
        h4
            a(
            target="_blank"
            href="http://devoxx.pl/"
            ) Devoxx
.grid-fluid
    .c10.text-center
        hr


<!-- Angular Connect -->
.grid-fluid
    .c2.text-left
        h4 Sept. 27-28, 2016
    .c4.text-left
        h4 London, UK
    .c4.text-left
        h4
            a(
            target="_blank"
            href="http://angularconnect.com/"
            ) Angular Connect
.grid-fluid
    .c10.text-center
        hr

<!-- ng-europe -->
.grid-fluid
    .c2.text-left
        h4 Oct. 24-26, 2016
    .c4.text-left
        h4 Paris, France
    .c4.text-left
        h4
            a(
            target="_blank"
            href="https://ngeurope.org/"
            ) ng-europe
.grid-fluid
    .c10.text-center
        hr

<!-- DEVIntersection -->
.grid-fluid
    .c2.text-left
        h4 Nov 14-16, 2016
    .c4.text-left
        h4 Amsterdam, Netherlands
    .c4.text-left
        h4
            a(
            target="_blank"
            href="https://www.devintersectioneurope.com/"
            ) DEVintersection Europe
.grid-fluid
    .c10.text-center
        hr

<!-- dotJS -->
.grid-fluid
    .c2.text-left
        h4 Dec. 5, 2016
    .c4.text-left
        h4 Paris, France
    .c4.text-left
        h4
            a(
            target="_blank"
            href="http://www.dotjs.io/"
            ) dotJS


