table.is-full-width
  thead
    tr
      th Event
      th Location
      th Date

  tbody

    <!-- Devoxx Belgium -->
    tr
      th
        a(
        target="_blank"
        href="https://www.devoxx.be/"
        ) Devoxx Belgium
      td Antwerp, Belgium
      td Nov. 7-11, 2016


    <!-- DEVIntersection -->
    tr
      th
        a(
        target="_blank"
        href="https://www.devintersectioneurope.com/"
        ) DEVintersection Europe
      td Amsterdam, Netherlands
      td Nov 14-16, 2016


    <!-- dotJS -->
    tr
      th
        a(
        target="_blank"
        href="http://www.dotjs.io/"
        ) dotJS
      td Paris, France
      td Dec. 5, 2016

    <!-- NG-BE -->
    tr
      th
        a(
        target="_blank"
        href="https://ng-be.org/"
        ) NG-BE
      td Ghent, Belgium
      td Dec. 9, 2016
