table.is-full-width
  thead
    tr
      th Event
      th Location
      th Date

  tbody

    <!-- DEVOXX - UK -->
    tr
      th
        a(
        target="_blank"
        href="http://www.devoxx.co.uk/"
        ) DEVOXX - UK
      td London, United Kingdom
      td May 11, 2017

    <!-- Google IO -->
    tr
      th
        a(
        target="_blank"
        href="https://events.google.com/io"
        ) Google IO
      td Mountain View, California
      td May 17, 2017

    <!-- AngleBrackets-->
    tr
      th
        a(
        target="_blank"
        href="https://anglebrackets.org"
        ) AngleBrackets
      td Orlando, Florida
      td May 21, 2017      

    <!-- ngJapan -->
    tr
      th
        a(
        target="_blank"
        href="http://ngjapan.org/"
        ) ng-Japan
      td Tokyo, Japan
      td June 17, 2017

    <!-- ReactiveConf -->
    tr
      th
        a(
        target="_blank"
        href="https://reactiveconf.com/"
        ) ReactiveConf
      td Bratislava, Slovakia
      td October 25, 2017

    <!-- AngularConnect-->
    tr
      th
        a(
        target="_blank"
        href="http://angularconnect.com"
        ) AngularConnect
      td London, United Kingdom
      td Nov. 07, 2017
