table.is-full-width
  thead
    tr
      th Event
      th Location
      th Date

  tbody

    <!-- FullStack -->
    tr
      th
        a(
        target="_blank"
        href="https://skillsmatter.com/conferences/7278-fullstack-2016-the-conference-on-javascript-node-and-internet-of-things"
        ) FullStack
      td London, UK
      td July 13-15, 2016


    <!-- UtahJS -->
    tr
      th
        a(
        target="_blank"
        href="https://conf.utahjs.com/"
        ) UtahJS
      td Salt Lake City, UT, USA
      td Sept. 16, 2016

    <!-- Angular Connect -->
    tr
      th
        a(
        target="_blank"
        href="http://angularconnect.com/"
        ) Angular Connect
      td London, UK
      td Sept. 27-28, 2016


    <!-- ng-europe -->
    tr
      th
        a(
        target="_blank"
        href="https://ngeurope.org/"
        ) ng-europe
      td Paris, France
      td Oct. 24-26, 2016


    <!-- Devoxx Belgium -->
    tr
      th
        a(
        target="_blank"
        href="https://www.devoxx.be/"
        ) Devoxx Belgium
      td Antwerp, Belgium
      td Nov. 7-11, 2016


    <!-- DEVIntersection -->
    tr
      th
        a(
        target="_blank"
        href="https://www.devintersectioneurope.com/"
        ) DEVintersection Europe
      td Amsterdam, Netherlands
      td Nov 14-16, 2016


    <!-- dotJS -->
    tr
      th
        a(
        target="_blank"
        href="http://www.dotjs.io/"
        ) dotJS
      td Paris, France
      td Dec. 5, 2016

    <!-- NG-BE -->
    tr
      th
        a(
        target="_blank"
        href="https://ng-be.org/"
        ) NG-BE
      td Ghent, Belgium
      td Dec. 9, 2016
