table.is-full-width
  thead
    tr
      th Event
      th Location
      th Date

  tbody
      
    <!-- ngVikings -->
    tr
      th
        a(
        target="_blank"
        href="https://ngvikings.org/"
        ) ngVikings
      td Copenhagen, Denmark
      td Feb. 11, 2017

    <!-- DEVOXX - US -->
    tr
      th
        a(
        target="_blank"
        href="https://devoxx.us/"
        ) DEVOXX - US
      td San Jose, CA
      td Mar. 21, 2017

    <!-- Angular Days -->
    tr
      th
        a(
        target="_blank"
        href="http://www.angular-days.de/"
        ) Angular Days
      td Munich, Germany
      td Mar. 20, 2017

    <!-- ngConf -->
    tr
      th
        a(
        target="_blank"
        href="https://www.ng-conf.org/"
        ) ng-Conf
      td Salt Lake City, Utah
      td Apr. 05, 2017

    <!-- DEVOXX - UK -->
    tr
      th
        a(
        target="_blank"
        href="http://www.devoxx.co.uk/"
        ) DEVOXX - UK
      td London, United Kingdom
      td May 11, 2017

    <!-- AngleBrackets-->
    tr
      th
        a(
        target="_blank"
        href="https://anglebrackets.org"
        ) AngleBrackets
      td Orlando, Florida
      td May 21, 2017      

    <!-- AngularConnect-->
    tr
      th
        a(
        target="_blank"
        href="http://angularconnect.com"
        ) AngularConnect
      td London, United Kingdom
      td Nov. 07, 2017
