.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date Sept 14, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/09/angular2-final.html"
        ) Angular, version 2: proprioception-reinforcement
      p Today, at a special meetup at Google HQ, we announced the final release version of Angular 2, the full-platform successor to Angular 1...
      .author
        img(src="/resources/images/bios/juleskremer.jpg")
        .posted Posted by <b>Jules Kremer</b>

  .c6
    .article-card
      .date Sept 13, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/08/angular-2-rc5-ngmodules-lazy-loading.html"
        ) RC7 Now Available
      p Today we’re happy to announce that we are shipping Angular 2.0.0-rc.7. This small release is focused on bugfixes. What's fixed? Lazy loading, RxJS, IDE Docs Integration...
      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear

.grid-fluid
  .c6
    .article-card
      .date Sept 14, 2016
      .title
        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/09/14/bypassing-providers-in-angular-2.html"
        ) Bypassing Providers in Angular 2
      p We covered a lot of different things everything dependency injection in Angular 2. However, at our latest training, one of our students came up with a very interesting question: "Can I bypass a provider...
      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>Pascal Precht</b>

  .c6
    .article-card
      .date Sept 12, 2016
      .title
        a(
        target="_blank"
        href="http://slides.com/wassimchegham/demystifying-ahead-of-time-compilation-in-angular-2-aot-jit#/"
        ) Demystifying AoT compilation in Angular 2
      p The introduction of NgModule was huge news for the Angular 2 community. This new API is supposed to help the AoT compilation by providing the compilation context and a much lighter application bundle...
      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>Wassim Chegham</b>

.grid-fluid
  .c6
    .article-card
      .date Sept 12, 2016
      .title
        a(
        target="_blank"
        href="https://medium.com/codingthesmartway-com-blog/using-material-design-in-angular-2-83a3128c58b7#.5z4pseikh"
        ) Using Material Design in Angular 2
      p Angular 2 Material Design Components are available as NPM packages. A full list of packages can be found at...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Sebastian Eschweiler</b>

  .c6
    .article-card
      .date Sept 11, 2016
      .title
        a(
        target="_blank"
        href="https://johnpapa.net/introducing-angular-modules-routing-module/"
        ) Introducing Angular Modules - Routing Module
      p When we create an Angular 2 app, we define a root module. This root module is defined with @NgModule and works quite well for small apps....
      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>John Papa</b>


.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

