.grid-fluid.l-space-bottom-4
  .c12.text-center
    h3.text-headline.text-uppercase  From the Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date February 3, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/02/angular-2-templates-will-it-parse.html"
        ) Angular 2 templates: Will it parse?
      p As part of the beta release, we eliminated the requirement for kebab-case in Angular templates and replaced them with case-sensitive names for attributes. This makes it easier for you to write Angular 2 templates...
      .author
        img(src="/resources/images/bios/brad-green.jpg")
        .posted Posted by <b>Brad Green</b>
  .c6
    .article-card
      .date January 11, 2016
      .title
        a(
           target="_blank"
           href="http://angularjs.blogspot.com/2016/01/angular-2-mit-open-source-licensed.html"
        ) Angular 2: an MIT Open Source Licensed Framework
      p As of beta.2 this week, we're moving Angular 2, its related libraries, and any code snippets and examples to the MIT license. Open source licenses are meant to protect developers by making it clear how code can be...
      .author
        img(src="/resources/images/bios/naomi.jpg")
        .posted Posted by <b>Naomi Black</b>
.grid-fluid.l-space-top-6
  .c12.text-center
    h3.text-headline.text-uppercase  From Our Developer Community
  .clear

  .grid-fluid.l-space-bottom-2.l-space-top-4
    .c6
      .article-card
        .date February 3, 2016
        .title
          a(
          target="_blank"
          href="https://github.com/mgechev/angular2-style-guide/blob/master/README.md"
          ) Angular 2 Style Guide
        p The purpose of the following style guide is to present a set of best practices and style guidelines for the development of Angular 2 applications. If you are looking for an opinionated style guide for syntax, conventions...
        .author
          img(src="/resources/images/bios/shield-bio-placeholder.png")
          .posted Posted by <b>Minko Gechev</b>
    .c6
      .article-card
        .date February 1, 2016
        .title
          a(
          target="_blank"
          href="http://blog.thoughtram.io/angular/2016/02/01/zones-in-angular-2.html"
          ) Zones in Angular 2
        p In Understanding Zones, we explored the power of Zones by building a profiling zone that profiles asynchronous operations in our code. We learned that Zones are a sort of execution context that allows us to hook into...
        .author
          img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
          .posted Posted by <b>Pascal Precht</b>
.grid-fluid.l-space-bottom-4
    .c6
      .article-card
        .date January 6, 2016
        .title
          a(
             target="_blank"
             href="http://blog.thoughtram.io/angular/2016/01/06/taking-advantage-of-observables-in-angular2.html"
          ) Taking advantage of Observables in Angular 2
        p Some people seem to be confused why Angular 2 seems to favor the Observable abstraction over the Promise abstraction when it comes to dealing with async behavior. There are pretty good resources about the difference...
        .author
          img(src="/resources/images/bios/shield-bio-placeholder.png")
          .posted Posted by <b>Christoph Burgdorf</b>
    .c6
      .article-card
        .date December 30, 2015
        .title
          a(
          target="_blank"
          href="https://medium.com/google-developer-experts/angular-2-introduction-to-redux-1cf18af27e6e#.fs370dms1"
          ) Angular 2 — Introduction to Redux
        p How to use Redux in Angular 2 Applications. Redux, now in version 3, has been around less than a year but it has proved very successful. Inspired by Flux and Elm, is used to handle Application state and bind it to...
        .author
          img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
          .posted Posted by <b>Gerard Sans</b>