.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date Dec 22, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/12/angular-material-beta-release-new-flex.html"
        ) Angular Material Beta Release, New Flex-Layout library
      p In March, we gave you a first preview of the new Angular Material components. Today's beta release of @angular/material includes...
      .author
        img(src="/resources/images/bios/jelbourn.jpg")
        .posted Posted by <b>Jeremy Elbourn</b>

  .c6
    .article-card
      .date Dec 20, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/12/angular-240-now-available.html"
        ) Angular 2.4.0 Now Available
      p Angular version 2.4.0 - stability-interjection - is now available. This is a minor release, meaning that it contains no breaking changes and that it is a drop-in replacement for 2.x.x...
      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>


.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear

.grid-fluid
  .c6
    .article-card
      .date Dec 21, 2016
      .title
        a(
        target="_blank"
        href="https://blog.nrwl.io/angular-is-aot-worth-it-8fa02eaf64d4"
        ) Angular: Is AOT Worth It?
      p With the AOT compiler, Angular apps can be built to not require much of the compiler, change detection, or dependency injection systems at runtime. This leads to a significantly smaller...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Jeff Cross</b>
  .c6
    .article-card
      .date Dec 12, 2016
      .title
        a(
        target="_blank"
        href="https://scotch.io/tutorials/server-side-rendering-in-angular-2-with-angular-universal"
        ) Server-Side Rendering in Angular 2 with Angular Universal
      p Render your applications on the server for many benefits....
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Chris Nwamba</b>
.grid-fluid
  .c6
    .article-card
      .date Dec 2, 2016
      .title
        a(
        target="_blank"
        href="https://www.nativescript.org/blog/optimizing-app-loading-time-with-angular-2-lazy-loading"
        ) Optimizing app loading time with Angular 2 Lazy Loading
      p When you develop mobile applications you should always be alert on the performance and always optimize. In this blog post I will walk you through a very effective pattern...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Stanimira Vlaeva</b>

  .c6
    .article-card
      .date Oct 30, 2016
      .title
        a(
        target="_blank"
        href="https://www.thepolyglotdeveloper.com/2016/10/use-pre-populated-sqlite-database-nativescript-angular-2/"
        ) Use A Pre-Populated SQLite Database With NativeScript And Angular 2
      p I figured it would be a good idea to demonstrate how to ship a NativeScript Angular 2 application with a pre-filled SQLite database rather than populating it on-the-fly....
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Nic Raboy</b>
          

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

