.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date July 11, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/07/angular-in-china-and-beyond-introducing.html"
        ) Angular in China and beyond: Introducing angular.cn
      p We're excited to share the newly-launched angular.cn with you! Read on to learn how we did it, and how you can get involved in bringing Angular to your locale....

      .author
        img(src="/resources/images/bios/naomi.jpg")
        .posted Posted by <b>Naomi Black</b>
  .c6
    .article-card
      .date June 30, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/rc4-now-available.html"
        ) RC4 Now Available
      p Today we’re happy to announce that we are shipping Angular 2.0.0-rc4. This release begins to lay the foundation for improved Angular Compilation, and makes improvements to testing....
      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear
.grid-fluid
  .c6
    .article-card
      .date June 30, 2016
      .title
        a(
        target="_blank"
        href="http://www.bennadel.com/blog/3116-using-an-item-template-with-an-html-dropdown-menu-component-in-angular-2-rc-3.htm"
        ) Using An Item Template With An HTML Dropdown Menu Component
      p A while ago, I played around with trying to create an HTML Dropdown menu component in Angular 2. I discovered that you could pass Template references into components for dynamic rendering...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Ben Nadel</b>

  .c6
    .article-card
      .date June 29, 2016
      .title
        a(
        target="_blank"
        href="https://channel9.msdn.com/Shows/Office-Dev-Show/Office-Dev-Show-Episode-35-Getting-Started-with-Angular-2-and-the-Microsoft-Graph"
        ) Getting Started with Angular 2 and the Microsoft Graph (Video)
      p Richard diZerega explores how to connect to the Microsoft Graph from Angular 2 and TypeScript. Richard starts with the Angular 2 quickstart template and gets it connecting to the the Microsoft Graph...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Richard diZerega</b>
.grid-fluid
  .c6
    .article-card
      .date June 26, 2016
      .title
        a(
        target="_blank"
        href="http://blog.mgechev.com/2016/06/26/tree-shaking-angular2-production-build-rollup-javascript/"
        ) Building an Angular 2 Application for Production
      p During the keynote of ng-conf, the core team managed to drop the size of the “Hello world!” app to less than 50K! In this blog post we’ll explain all the steps we need to go through in order to achieve such results!
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Minko Gechev</b>

  .c6
    .article-card
      .date June 22, 2016
      .title
        a(
        target="_blank"
        href="https://mp.weixin.qq.com/s?__biz=MzIwNjQwMzUwMQ==&mid=2247483837&idx=1&sn=932b359504eec2ae50a3bcba2964b3c2&scene=2&srcid=0622Tab8nj3W3cAkphohB8wM"
        ) Why I chose Angular 2 / 我为什么选择Angular 2 (in Chinese)
      p Ralph Wang, a senior developer with 18 years’ experience in China, tells why he chooses Angular 2. No choice is painful, but too many choices can be chaotic and cause even more pain...
      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>Ralph Wang</b>


.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

