.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date March 16, 2016
      .title
        a(
        target="_blank"
        href="https://angularjs.blogspot.com/2016/03/angular-material-2-alpha-preview.html"
        ) Angular Material 2: Alpha preview!
      p On Tuesday, we released angular2-material alpha.0 - titanium-octopus, kicking off the public availability of the initial set of Angular Material 2 components. What is Angular Material? The goal of the Angular Material...
      .author
        img(src="/resources/images/bios/jelbourn.jpg")
        .posted Posted by <b>Jeremy Elbourn</b>
  .c6
    .article-card
      .date February 15, 2016
      .title
        a(
        target="_blank"
        href="https://angularjs.blogspot.com/2016/03/why-angular-renders-components-with.html"
        ) Advantages of Angular Templates
      p In modern web development, there are several techniques for building the components used by web applications. Angular's templates are authored using semantic HTML, encouraging a strong separation between...

      .author
        img(src="/resources/images/bios/victor.jpg")
        .posted Posted by <b>Victor Savkin</b>
.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear

.grid-fluid
  .c6
    .article-card
      .date March 14, 2016
      .title
        a(
        target="_blank"
        href="http://blog.nbellocam.me/2016/03/14/asp-net-core-and-angular-2/"
        ) ASP.NET Core and Angular 2
      p Writing web applications nowadays its becoming a bit more complex as the frameworks evolve taking advantage of other frameworks/tools. That’s the case of Angular 2 (which was developed using TypeScript) and...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Nicolas Bello Camilletti</b>
  .c6
    .article-card
      .date March 12, 2016
      .title
        a(
        target="_blank"
        href="http://www.bennadel.com/blog/3047-creating-specialized-http-clients-in-angular-2-beta-8.htm"
        ) Creating Specialized HTTP Clients In Angular 2 Beta 8
      p When I first started digging into Angular 2's Http client, I felt that a lot of the great Angular 1.x features were sorely missing. Features like automatic JSON (JavaScript Object Notation) parsing, request...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Ben Nadel</b>
.grid-fluid
  .c6
    .article-card
      .date March 7, 2016
      .title
        a(
        target="_blank"
        href="http://blog.ionic.io/angular-is-a-design-pattern/"
        ) Angular is a Design Pattern
      p With Angular 2.0 fast approaching and the world of frontend frameworks in a massive transition, there’s been a lot of concern about the impending costs of moving to the next generation of Angular. Do developers have to learn...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Max Lynch</b>
  .c6
    .article-card
      .date March 6, 2016
      .title
        a(
        target="_blank"
        href="https://medium.com/@SevenLee/configuration-tips-to-build-hybrid-angular-1-and-angular-2-project-in-real-world-230b715629dc#.jns6j8mqa"
        ) Configuration Tips to build Hybrid Angular 1 and Angular 2 project in real world
      p Angular 2 official site provided [...] magical, awesome quick start. But I think there are some tips for building up hybrid Angular web app successfully in real world. Here I would like to share my build up experience...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Seven Lee</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

