.grid-fluid.l-space-bottom-4
  .c12.text-center
    h3.text-headline.text-uppercase  From the Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date January 11, 2016
      .title
        a(
           target="_blank"
           href="http://angularjs.blogspot.com/2016/01/angular-2-mit-open-source-licensed.html"
        ) Angular 2: an MIT Open Source Licensed Framework
      p As of beta.2 this week, we're moving Angular 2, its related libraries, and any code snippets and examples to the MIT license. Open source licenses are meant to protect developers by making it clear how code can be...
      .author
        img(src="/resources/images/bios/naomi.jpg")
        .posted Posted by <b>Naomi Black</b>
  .c6
    .article-card
      .date December 15, 2015
      .title
        a(
          target="_blank"
          href="http://angularjs.blogspot.com/2015/12/angular-2-beta.html"
        ) Angular 2 Beta
      p We're ecstatic to announce that we've reached Angular 2 Beta.  You can read about many of the improvements over Angular 1 in a recent post.  Get started learning Angular 2 now at angular.io. What does 'beta' mean? Beta...
      .author
        img(src="/resources/images/bios/brad-green.jpg")
        .posted Posted by <b>Brad Green</b>
.grid-fluid.l-space-top-6
  .c12.text-center
    h3.text-headline.text-uppercase  From Our Developer Community
  .clear

  .grid-fluid.l-space-bottom-2.l-space-top-4
    .c6
      .article-card
        .date January 6, 2016
        .title
          a(
             target="_blank"
             href="http://blog.thoughtram.io/angular/2016/01/06/taking-advantage-of-observables-in-angular2.html"
          ) Taking advantage of Observables in Angular 2
        p Some people seem to be confused why Angular 2 seems to favor the Observable abstraction over the Promise abstraction when it comes to dealing with async behavior. There are pretty good resources about the difference...
        .author
          img(src="/resources/images/bios/shield-bio-placeholder.png")
          .posted Posted by <b>Christoph Burgdorf</b>
    .c6
      .article-card
        .date December 30, 2015
        .title
          a(
          target="_blank"
          href="https://medium.com/google-developer-experts/angular-2-introduction-to-redux-1cf18af27e6e#.fs370dms1"
          ) Angular 2 — Introduction to Redux
        p How to use Redux in Angular 2 Applications. Redux, now in version 3, has been around less than a year but it has proved very successful. Inspired by Flux and Elm, is used to handle Application state and bind it to...
        .author
          img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
          .posted Posted by <b>Gerard Sans</b>
.grid-fluid.l-space-bottom-4
    .c6
      .article-card
        .date December 17, 2015
        .title
          a(
          target="_blank"
          href="http://wassimchegham.com/blog/angularjs-explique-en-patrons-de-conception-design-pattern-episode-6-module-data-mapper-observer-service"
          ) AngularJS expliqué en patrons de conception
        p Dans ce dernier épisode, nous allons voir comment des patrons de conception tels que le Module Pattern ou l’Observer sont utilisés dans AngularJS. Cet article fait partie d’une série d’articles consacrés à...
        .author
          img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
          .posted Posted by <b>Wassim Chegham</b>
    .c6
      .article-card
        .date November 23, 2015
        .title
          a(
          target="_blank"
          href="http://blog.thoughtram.io/angular2/2015/11/23/multi-providers-in-angular-2.html"
          ) Multi Providers in Angular 2
        p The new dependency injection system in Angular 2 comes with a feature called “Multi Providers” that basically enable us, the consumer of the platform, to hook into certain operations and plug in custom functionality...
        .author
          img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
          .posted Posted by <b>Pascal Precht</b>