.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date March 30, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/03/code-reuse-in-angular-2-native-mobile.html"
        ) Code Reuse in Angular 2 Native Mobile Apps with NativeScript
      p In this article, I'm going to show you how to create a single application with Angular 2 that can be rendered on the web, or rendered in a native mobile application with NativeScript. Here's what you can expect to learn...

      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Guest posted by <b>Nathan Walker</b>
  .c6
    .article-card
      .date March 16, 2016
      .title
        a(
        target="_blank"
        href="https://angularjs.blogspot.com/2016/03/angular-material-2-alpha-preview.html"
        ) Angular Material 2: Alpha preview!
      p On Tuesday, we released angular2-material alpha.0 - titanium-octopus, kicking off the public availability of the initial set of Angular Material 2 components. What is Angular Material? The goal of the Angular Material...
      .author
        img(src="/resources/images/bios/jelbourn.jpg")
        .posted Posted by <b>Jeremy Elbourn</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear
.grid-fluid
  .c6
    .article-card
      .date April 7, 2016
      .title
        a(
        target="_blank"
        href="http://www.mediacurrent.com/blog/building-wundergroundcom-drupal-angular-2-challenge-1-how-bootstrap"
        ) Building Wunderground.com with Drupal & Angular 2: How to Bootstrap
      p One of our first big concerns was how to bootstrap our components into an app. This is problematic because we don’t only render angular components on the page, we also allow regular Drupal-rendered panes...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Matt Davis</b>

  .c6
    .article-card
      .date April 5, 2016
      .title
        a(
        target="_blank"
        href="http://blog.jetbrains.com/webstorm/2016/04/angular-2-workflow-in-webstorm/"
        ) Angular 2 workflow in WebStorm
      p WebStorm can be a great playground for your new Angular 2 applications. In this blog post we’d like to share with you some tips and tricks that we hope you’ll find useful ...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Ekaterina Prigara</b>
.grid-fluid
  .c6
    .article-card
      .date March 21, 2016
      .title
        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/03/21/template-driven-forms-in-angular-2.html"
        ) Template-driven Forms in Angular 2
      p Angular comes with three different ways of building forms in our applications. There’s the template-driven approach which allows us to build forms with very little to none application code required, then...
      .author
        img(src="/resources/images/bios/pascalprecht.jpg")
        .posted Posted by <b>Pascal Precht</b>

  .c6
    .article-card
      .date March 21, 2016
      .title
        a(
        target="_blank"
        href="https://www.mediacurrent.com/blog/blog-series-weather-underground-angular-2-introduction"
        ) Building Wunderground.com with Drupal & Angular 2: An Introduction
      p For the wunderground.com project, our mandate was to use the same Drupal 7 platform originally built for weather.com. [...] instead of starting a new project using Angular 1...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Matt Davis</b>
          

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

