.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date June 15, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/rc2-now-available.html"
        ) RC2 Now Available
      p Today we’re happy to announce that we are shipping Angular 2.0.0-rc2. This release includes  1. Animation Framework  2. Improvements to Forms  3. More than 100 community contributions...
      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>

  .c6
    .article-card
      .date June 9, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/improvements-coming-for-routing-in.html"
        ) Improvements Coming for Routing in Angular
      p A little more than a month ago, we introduced a new router at ng-conf. We’re grateful to have heard from many folks at ng-conf about flaws in this new design, so we are announcing...

      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear
.grid-fluid
  .c6
    .article-card
      .date June 14, 2016
      .title
        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/06/14/routing-in-angular-2-revisited.html"
        ) Routing in Angular 2 Revisited
      p Just recently, the Angular team announced yet another version of the new router. Take a first look at the new and better APIs, touching on the most common scenarios...
      .author
        img(src="/resources/images/bios/pascalprecht.jpg")
        .posted Posted by <b>Pascal Precht</b>

  .c6
    .article-card
      .date June 13, 2016
      .title
        a(
        target="_blank"
        href="https://toddmotto.com/rewriting-angular-styleguide-angular-2"
        ) A new Angular 1.x ES2015 styleguide, the path to Angular 2
      p Angular 1.x has changed vastly since the original styleguide, and ES6/ES2015 has now become a defacto standard. The new styleguide focuses on using ES2015, offering recommendations on tooling to use it today...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Todd Motto</b>
.grid-fluid
  .c6
    .article-card
      .date June 9, 2016
      .title
        a(
        target="_blank"
        href="https://medium.com/@urish/building-simon-with-angular2-iot-fceb78bb18e5"
        ) Building Simon with Angular2-IoT
      p I thought it would be fun to see if I could make the same [Angular 2] control/logic code for both a web application and a physical, “Internet of Things” device....
      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>Uri Shaked</b>

  .c6
    .article-card
      .date June 8, 2016
      .title
        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/06/08/component-relative-paths-in-angular-2.html"
        ) Component-Relative Paths in Angular 2
      p Component-based development is Angular 2’s most-loved feature. By now you should be familiar with using the @Component decorators to create components.\...
      .author
        img(src="/resources/images/bios/thomas.jpg")
        .posted Posted by <b>Thomas Burleson</b>
          
.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

