.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date Aug 9, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/08/angular-2-rc5-ngmodules-lazy-loading.html"
        ) Angular 2 RC5 - NgModules, Lazy Loading and AoT compilation
      p Today we’re publishing Angular 2 RC5 - including support for @NgModule decorators, Ahead-of-time compilation for components and services, Lazy-loading for the router, and new modules that make it easier...
      .author
        img(src="/resources/images/bios/rob-wormald.jpg")
        .posted Posted by <b>Rob Wormald</b>

  .c6
    .article-card
      .date July 29, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/07/fresh-guides-from-victor-savkin.html"
        ) Fresh Guides from Victor Savkin
      p Victor just refreshed his older posts with the latest and greatest from the current release candidate, at a new location on vsavkin.com...
      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear

.grid-fluid
  .c6
    .article-card
      .date Aug 8, 2016
      .title
        a(
        target="_blank"
        href="http://teropa.info/blog/2016/08/08/angular-2-hot-loading-with-ngrx-store-and-webpack.html"
        ) Angular 2 Hot Loading with @ngrx/store and Webpack
      p I've been waiting for a hot reloading workflow for Angular 2 to emerge. I was happy to discover that one now exists. This is potentially a very big deal for productivity....
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Tero Parviainen</b>
          
  .c6
    .article-card
      .date Aug 6, 2016
      .title
        a(
        target="_blank"
        href="http://juristr.com/blog/2016/08/ng2-forms-first-look/"
        ) Angular 2 forms - a first look
      p A first quick look at the new Forms API in Angular 2. A Google Hangout with Kara Erickson, core contributor to the Forms Api. Here I'm summarizing...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Juri Strumpflohner</b>

.grid-fluid
  .c6
    .article-card
      .date June 30, 2016
      .title
        a(
        target="_blank"
        href="http://www.bennadel.com/blog/3116-using-an-item-template-with-an-html-dropdown-menu-component-in-angular-2-rc-3.htm"
        ) Using An Item Template With An HTML Dropdown Menu Component
      p A while ago, I played around with trying to create an HTML Dropdown menu component in Angular 2. I discovered that you could pass Template references into components for dynamic rendering...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Ben Nadel</b>

  .c6
    .article-card
      .date June 29, 2016
      .title
        a(
        target="_blank"
        href="https://channel9.msdn.com/Shows/Office-Dev-Show/Office-Dev-Show-Episode-35-Getting-Started-with-Angular-2-and-the-Microsoft-Graph"
        ) Getting Started with Angular 2 and the Microsoft Graph (Video)
      p Richard diZerega explores how to connect to the Microsoft Graph from Angular 2 and TypeScript. Richard starts with the Angular 2 quickstart template and gets it connecting to the the Microsoft Graph...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Richard diZerega</b>


.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

