.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date March 2, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/03/hosting-inclusive-angular-events-ideas.html"
        ) Hosting Inclusive Angular Events: Ideas from AngularConnect
      p We care a lot about making Angular's community inclusive and welcoming for everyone. Guest bloggers Vicky Carmichael and Ruth Yarnit are part of the White October Events team that co-organises AngularConnect...
      .author
        img(src="/resources/images/bios/naomi.jpg")
        .posted Posted by <b>Naomi Black</b>
  .c6
    .article-card
      .date February 3, 2016
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/02/angular-2-templates-will-it-parse.html"
        ) Angular 2 templates: Will it parse?
      p As part of the beta release, we eliminated the requirement for kebab-case in Angular templates and replaced them with case-sensitive names for attributes. This makes it easier for you to write Angular 2 templates...
      .author
        img(src="/resources/images/bios/brad-green.jpg")
        .posted Posted by <b>Brad Green</b>
.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear
.grid-fluid
  .c6
    .article-card
      .date February 19, 2016
      .title
        a(
        target="_blank"
        href="https://medium.com/google-developer-experts/angular-2-unit-testing-with-jasmine-defe20421584#.ptfd1gd5j"
        ) Angular 2 — Unit Testing recipes
      p Angular 2 was designed with testability in mind as its predecessor and it provides multiple options to support Unit Testing. In this article we will show you how to setup Jasmine and write some common unit tests...
      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>Gerard Sans</b>
  .c6
    .article-card
      .date February 18, 2016
      .title
        a(
        target="_blank"
        href="http://www.yearofmoo.com/2016/02/rendering-in-angular2.html"
        ) Rendering in Angular2
      p Get an idea of how Angular2 internal rendering system works With the new design decisions that Angular2 has brought forth, the possibility of setting up a custom renderer to take on the UI responsibilities is...
      .author
        img(src="/resources/images/bios/matias.jpg")
        .posted Posted by <b>Matias Niemela</b>

  .grid-fluid
    .c6
      .article-card
        .date February 3, 2016
        .title
          a(
          target="_blank"
          href="https://github.com/mgechev/angular2-style-guide/blob/master/README.md"
          ) Angular 2 Style Guide
        p The purpose of the following style guide is to present a set of best practices and style guidelines for the development of Angular 2 applications. If you are looking for an opinionated style guide for syntax, conventions...
        .author
          img(src="/resources/images/bios/shield-bio-placeholder.png")
          .posted Posted by <b>Minko Gechev</b>
    .c6
      .article-card
        .date February 1, 2016
        .title
          a(
          target="_blank"
          href="http://blog.thoughtram.io/angular/2016/02/01/zones-in-angular-2.html"
          ) Zones in Angular 2
        p In Understanding Zones, we explored the power of Zones by building a profiling zone that profiles asynchronous operations in our code. We learned that Zones are a sort of execution context that allows us to hook into...
        .author
          img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
          .posted Posted by <b>Pascal Precht</b>
.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p

    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

