nav.side-nav.l-pinned-left.l-layer-4.l-offset-nav
  header.side-nav-search
    form
      label(for="search-io" class="is-hidden") Search Docs
      input(type="search" id="search-io" placeholder="SEARCH DOCS...")
    button(class="mobile-trigger button" aria-label="View Docs Menu" ng-click="toggleDocsMenu($event)" md-button) Docs <span class="icon icon-arrow-drop-down"></span>

  ul(class="side-nav-primary" ng-class="showDocsNav ? 'is-visible' : ''")
    if current.path[2]
      for page, slug in public.docs[current.path[1]][current.path[2]]._data
        name = page.menuTitle || page.title
        selected =  current.path[3] == slug ? 'is-selected':''

        li <a class="#{selected}" href="/docs/#{current.path[1]}/#{current.path[2]}/#{slug}.html" md-button><span class="side-nav-icon icon-#{page.icon}"></span> #{name}</a>
