nav.side-nav.l-pinned-left.l-layer-4.l-offset-nav
  .side-nav-search
    input(type="search" placeholder="SEARCH DOCS...")


  ul.side-nav-primary
    for page, slug in public.docs[current.path[1]][current.path[2]]._data
      if slug == "index"
        li <a href="/docs/#{current.path[1]}/#{current.path[2]}/#{slug}.html">Docs Home</a>
      else
        li <a href="/docs/#{current.path[1]}/#{current.path[2]}/#{slug}.html">#{page.title}</a>
