language = current.path[1]
version = ''

if current.path[2]
  version = current.path[2].replace(/\_+/gm, ".")

if language == 'js'
if language == 'dart'

if title == "Angular"
  title #{title}
else if language
  title #{title} - #{language}
else
  title #{title} - Angular


meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="#{description}")
meta(name="keywords" content="#{keywords}")
meta(name="robots" content="all")
meta(name="referrer" content="origin")
meta(name="viewport" id="viewport" content="width=device-width, initial-scale=1")
meta(property="og:image" content="/resources/images/logos/standard/shield-large.png")

link(rel="icon" type="image/x-icon" href="/resources/images/icons/favicon.ico")
link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css")
link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="/resources/css/vendor/icomoon/style.css")
link(rel="stylesheet" href="/resources/css/main.css")