- var hasIcon = icon ? 'has-icon' : ''
- var iconNumber = number ? number : ''
a(class="hover-card is-button #{hasIcon}" href="#{url}" md-button)
  if icon
    span(class="hover-card-icon #{icon}") #{iconNumber}

  h3 #{name}

  if cta
    p #{cta}
  else
    p View #{name} Docs
