.social-icons
  button(onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=#{siteURL}', '', 'height=500, width=600')" data-href="#{siteURL}" data-colorscheme="dark" data-layout="button_count" data-action="like" data-show-faces="false") <span class="icon-facebook2"></span>
  button(onClick="window.open('https://twitter.com/share?text=Angular%20-%20#{description}', '', 'height=250, width=600')") <span class="icon-twitter2"></span>
  button(onClick="window.open('https://plus.google.com/share?url=#{siteURL}', '', 'height=500, width=600')" class="googleplus") <span class="icon-google-plus2"></span>
  button(onClick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=#{siteURL}&title=Angular&summary=#{description}.', '', 'height=625, width=500')") <span class="icon-linkedin"></span>

p(style="color: black;") #{url}