.clearfix
  a.card(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html")
    h2.text-headline.text-uppercase Quickstart
    p A short beginner guide explaining the basic concepts of Angular

    footer View Quickstart

  a.card(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/")
    h2.text-headline.text-uppercase Developer Guide
    p An intermediate development guide covering all major features of Angular

    footer View Guide

  a.card(href="/docs/#{current.path[1]}/#{current.path[2]}/api/")
    h2.text-headline.text-uppercase API Reference
    p An advanced reference of all Angular Classes, Methods, etc.

    footer View API

