.alert.is-critical
  :marked
    The current beta.11 release has known bugs relating to
    significant changes to the  _zones_ subsystem.
    All apps will report an error to the console:<br>
    <span style="color:red; font-family:Lucida Console;">
    Uncaught TypeError: Cannot read property 'zone' of undefined</span><br>
    The app will run unimpeded but it is disconcerting.
    We hope to have this and other bugs repaired by beta.12.
    Thanks for your patience.
    
div.card-row(layout='row')
  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-query-builder"></span> Quickstart
        p.text-body Get Started

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button" md-button) View Quickstart


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-list"></span> Guide
        p.text-body Step by Step Guide

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/" class="button button-primary" md-button) View Guide


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-book"></span> API Preview
        p.text-body API 2.0 Preview

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/api/" class="button" md-button) View API

