.grid-fluid.l-space-bottom-8
  .c2 &nbsp;

  .c8.text-center
    h3.text-headline.text-uppercase  Building For the Future
    p.text-body.
      Angular is built by a team of engineers who share a passion for
      making making web development feel effortless. We believe that writing
      beautiful apps should be joyful and fun. We're building a
      platform for the future.

  .c2 &nbsp;
  .clear

.grid-fluid.l-space-bottom-8
  h3.text-headline.text-uppercase.text-center Current Contributors
  for person, name in bios
    div.c3
      md-card.bio-card
        img(src="#{person.picture}" class="md-card-image")
        md-card-content
          h3.text-headline #{person.name}
          a(href="https://twitter.com/#{person.twitter}" class="bio-card-twitter") #{person.twitter}
          p(class="text-body" ng-click="showBio($event)") #{person.bio}

          a(href="#{person.website}" class="button" md-button) Website