.grid-fluid.l-space-bottom-8
  .c2 &nbsp;

  .c8.text-center
    h3.text-headline.text-uppercase  Building For the Future
    p.text-body.
      Angular is built by a team of engineers who share a passion for
      making web development feel effortless. We believe that writing
      beautiful apps should be joyful and fun. We're building a
      platform for the future.

  .c2 &nbsp;
  .clear

.grid-fluid.l-space-bottom-6

  h3.text-headline.text-uppercase.text-center Current Contributors

  <!-- BIO CARDS -->
  for type in [ 'Lead', 'Google', 'Community' ]
    h4.text-headline.text-uppercase(style='clear:both')= type
    for person, name in bios
      if person.type == type
        .c3
          md-card(biocard class="bio-card" website="#{person.website}" twitter="#{person.twitter}" pic="#{person.picture}" bio="#{person.bio}"  name="#{person.name}")
            header
              image(src="#{person.picture}" alt="#person.name")

              nav
                button(aria-label="View Bio") View Bio

                if person.twitter
                  a(title="twitter" href="https://twitter.com/#{person.twitter}" ng-click="$event.stopPropagation()") <span class="icon-twitter"></span>

                if person.website
                  a(title="website" href="#{person.website}"  ng-click="$event.stopPropagation()") <span class="icon-publ"></span>

            md-card-content
              h3.text-headline.bio-card-name #{person.name}
              p(class="bio-card-content text-body") #{person.bio}
