- var base = '/docs/js/latest/'

.nav-blocks
  .nav-title Tutorial
  .nav-primary-link
    a(href='#{base}quickstart.html') 5 Min Quickstart
  .nav-sub-title Case Study: Tour of Heroes
  .nav-ordered-lists
    ol
      li: a(href='#{base}tutorial') Introduction
      li: a(href='#{base}tutorial/toh-pt1.html') The Hero Editor
      li: a(href='#{base}tutorial/toh-pt2.html') Master/Detail
      li: a(href='#{base}tutorial/toh-pt3.html') Multiple Components
      li: a(href='#{base}tutorial/toh-pt4.html') Services
      li: a(href='#{base}tutorial/toh-pt5.html') Routing

.nav-blocks
  .nav-title Basics
  .nav-ordered-lists
    ol
      li: a(href='#{base}guide') Overview
      li: a(href='#{base}guide/architecture.html') Architecture
      li: a(href='#{base}guide/displaying-data.html') Displaying Data
      li: a(href='#{base}guide/user-input.html') User Input
      li: a(href='#{base}guide/forms.html') Forms
      li: a(href='#{base}guide/dependency-injection.html') Dependency Injection
      li: a(href='#{base}guide/template-syntax.html') Template Syntax
      li: a(href='#{base}guide/cheatsheet.html') Angular Cheat Sheet        
.nav-blocks
  .nav-title Developer Guide
  .nav-unordered-lists
    ul
      li: a(href='#{base}guide/attribute-directives.html') Attribute Directives
      li: a(href='#{base}guide/hierarchical-dependency-injection.html') Hierarchical Injectors
      li: a(href='#{base}guide/server-communication.html') Http Client
      li: a(href='#{base}guide/lifecycle-hooks.html') Lifecycle Hooks
      li: a(href='#{base}guide/npm-packages.html') npm packages
      li: a(href='#{base}guide/pipes.html') Pipes
      li: a(href='#{base}guide/router.html') Routing & Navigation
      li: a(href='#{base}guide/structural-directives.html') Structural Directives
      li: a(href='#{base}guide/upgrade.html') Upgrading from 1.x
.nav-blocks
  .nav-title Cookbook
  .nav-unordered-lists
    ul
      li: a(href='#{base}cookbook') Overview
      li: a(href='#{base}cookbook/a1-a2-quick-reference.html') Angular 1 to 2 Quick Ref
      li: a(href='#{base}cookbook/component-communication.html') Component Interaction
.nav-blocks
  .nav-title Reference
  .nav-unordered-lists
    ul
      li: a(href='#{base}api') API Preview
      li: a(href='#{base}cheatsheet.html') Angular Cheat Sheet                
      li: a(href='#{base}guide/glossary.html') Glossary
.nav-blocks
  .nav-title Resources
  .nav-unordered-lists
    ul
      li: a(href='#{base}resources.html') Angular Resources
      li: a(href='#{base}help.html') Help & Support
