number = 1;
ul
  for page, slug in public.docs[current.path[1]][current.path[2]].guide._data

    if slug != '_listtype'
      url = "/docs/#{current.path[1]}/#{current.path[2]}/#{current.path[3]}/#{current.path[4]}/#{slug}.html"
      num = number++

      li.c8
        != partial("../../../_includes/_hover-card", { number: num, name: page.title, url: url })
