.clearfix
  a.card.c4(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html")
    h2.text-headline.text-uppercase Quickstart
    p A short beginner guide explaining the basic concepts of Angular

    footer View Quickstart

  a.card.c4(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/")
    h2.text-headline.text-uppercase Developer Guide
    p An intermediate development guide covering all major features of Angular

    footer View Guide

  a.card.c4(href="/docs/#{current.path[1]}/#{current.path[2]}/api/")
    h2.text-headline.text-uppercase API Reference
    p An advanced reference of all Angular Classes, Methods, etc.

    footer View API


.c4.secondary-content-list
  h4 Advanced Documentation
  ul
    li
      a(href="/docs/js/latest/guide/ngmodule.html") Angular Modules
    li
      a(href="/docs/js/latest/guide/animations.html") Animations
    li
      a(href="/docs/js/latest/guide/attribute-directives.html") Attribute Directives
    li
      a(href="/docs/js/latest/guide/browser-support.html") Browser Support
    li
      a(href="/docs/js/latest/guide/component-styles.html") Component Styles
    li
      a(href="/docs/js/latest/guide/ngmodule.html") View All...

.c4.secondary-content-list
  h4 Cookbook
  ul
    li
      a(href="/docs/js/latest/cookbook/a1-a2-quick-reference.html") Angular 1 to Angular 2
    li
      a(href="/docs/js/latest/cookbook/ngmodule-faq.html") Angular Module FAQ
    li
      a(href="/docs/js/latest/cookbook/component-communication.html") Component Interaction
    li
      a(href="/docs/js/latest/cookbook/component-relative-paths.html") Component-Relative Paths
    li
      a(href="/docs/js/latest/cookbook/dependency-injection.html") Dependency Injection
    li
      a(href="/docs/js/latest/cookbook/") View All...

.c4.secondary-content-list
  h4 Tools & Libraries
  ul
    li
      a(target="_blank" href="https://github.com/angular/universal") Angular Universal
    li
      a(target="_blank" href="https://augury.angular.io/") Augury
    li
      a(target="_blank" href="https://github.com/jaxio/celerio-angular-quickstart") Celerio Angular Quickstart
    li
      a(target="_blank" href="https://github.com/mgechev/codelyzer") Codelyzer
    li
      a(target="_blank" href="https://github.com/johnpapa/lite-server") Lite-server
    li
      a(target="_blank" href="/resources/") View All...
