div.card-row.docs-landing.layout-align-space-around-center.layout-row.flex
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 5 Minute Quickstart
          p A short beginner guide explaining the basic concepts of Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") View Quickstart


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase Developer Guide
          p An intermediate development guide covering all major features of Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") View Guide


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase API Reference
          p An advanced reference of all Angular Classes, Methods, etc.

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") View API

